<% include page-head.ejs %>
<body>
<% include nav %>
<main>
    <main>
        <div class="user-details">
            <div class="user-details__image" >
                <img src="<%= user.avatar %>" alt="avatar" height="100px">
            </div>
            <div class="user-details__info">
                <h1><%= user.username %></h1>
                <p> <span>Email: </span> <%= user.email %></p>
                <p> <span>Phone: </span> <%= user.phone %></p>
                <div>
                    <div class="tabs">
                        <span class="tabs__item">my Recipes</span>
                        <span class="tabs__item">my Workshops</span>
                        <span class="tabs__item">my Requests</span>
                    </div>
                    <div class="tabs__content">
                        <div class="tabs__content__item">
                            <ul>
                                <% user.recipes.forEach(function(item) { %>
                                <li><a class="main-list__link " href="recipes/<%= item.title %>"><%= item.title %></a></li>
                                <% }); %>
                            </ul>
                            <!--<form method="post" action="/account">-->
                            <!--<p>-->
                            <!--<label>title: <input type="text" name="title"></label>-->
                            <!--</p>-->
                            <!--<p>-->
                            <!--<label>description:-->
                            <!--<textarea name="desc" id="" cols="30" rows="10"></textarea>-->
                            <!--</label>-->
                            <!--</p>-->
                            <!--<p>-->
                            <!--<input value="Add recipe" type="submit" class="bth">-->
                            <!--</p>-->
                            <!--</form>-->
                        </div>
                        <div class="tabs__content__item">
                            <ul>
                                <% user.workshops.forEach(function(item) { %>
                                <li><a class="main-list__link "><%= item.title %></a></li>
                                <% }); %>
                            </ul>
                            <!--<form method="post" action="/account">-->
                                <!--<p>-->
                                    <!--<label>title: <input type="text" name="title"></label>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label>description:-->
                                        <!--<textarea name="desc" id="" cols="30" rows="10"></textarea>-->
                                    <!--</label>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<input value="Add class" type="submit" class="bth">-->
                                <!--</p>-->
                            <!--</form>-->
                        </div>
                        <div class="tabs__content__item">
                            You did do any request
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</main>
</body>
</html>