<header>
    <nav>
        <ul class="main-nav">
            <li>
                <a href="/" class="main-nav__link <%= (menuID==='home')?'active':'' %>">
                    Recipes
                </a>
            </li>
            <li>
                <a href="/workshop" class="main-nav__link <%= (menuID==='workshop')?'active':'' %>" >
                    Workshops
                </a>
            </li>
            <li>
                <a href="<%= login?'/account':'/auth' %>" class="main-nav__link <%= (menuID==='account')?'active':'' %>" >
                    <%= login?login.username:`sign up` %>
                </a>
                <% if (login) { %>
                    <a href="<%= login?'/signout':false %>" class="main-nav__link" >
                        <%= login?'Sign out':false %>
                    </a>
                <% } %>
            </li>
        </ul>
    </nav>
</header>