<header>
    <nav>
        <ul class="main-nav">
            <li>
                <a href="/" class="main-nav__link <%= (menuID==='home')?'active':'' %>">
                    Recipes
                </a>
            </li>
            <li>
                <a href="/workshop" class="main-nav__link <%= (menuID==='workshop')?'active':'' %>" >
                    <!--<span class="main-nav__icon baker"></span>-->
                    Workshops
                </a>
            </li>
            <li>
                <a href="<%= user?'/account':'/auth' %>" class="main-nav__link <%= (menuID==='account')?'active':'' %>" >
                    <%= user?user:`sign up` %>
                </a>
            </li>
        </ul>
    </nav>
</header>