<% include page-head.ejs %>
<body>
    <% include nav %>
    <main>
        <h1>This is the list of our best workshops</h1>
        <div class="tile-wrapper">
            <% workshops.forEach( item => { %>
                <div class="tile-wrapper__tile">
                    <div class="tile-wrapper__tile--bg" style="background-image: url(<%= item.image %>)">
                    </div>
                    <div>
                        <h2><%= item.title %></h2>
                        <p><%= item.date.toDateString() %> | 19.00 </p>
                        <p><%= item.cost %> rub </p>
                    </div>
                    <div class="hidden-text">
                        <span class="hiden-content__control">
                        </span>
                        <div class="hiden-content">
                            <p>By <%= item.author.username %></p>
                            <p><%= item.desc %></p>
                            <p>available <%= item.available - item.booked.length %> </p>

                            <div class="btn-container">
                                <input  onclick="orderWS()" class="bth" value="Join The Class">
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

            <div class="popup" id="orderWS" >
                <div class="popup__header">Order Form</div>
                <div class="popup__body">
                    <p>
                        <label>
                            Name
                            <input type="text">
                        </label>
                        <label>
                            Phone
                            <input type="text">
                        </label>
                        <label>
                            Number of tickets
                            <input type="text">
                        </label>
                    </p>
                </div>
                <div class="popup__footer">
                    <input  onclick="orderWS()" class="bth" value="Close">
                </div>
            </div>

    </main>
</body>
</html>