<% include page-head.ejs %>
<body>
<% include nav %>
    <main>
        <div class="section-cnt">
            <!--<section>-->
                <div class="tile">
                    <div class="btn-container tile__ctrl">
                        <input  onclick="orderWS()" class="bth" value="Edit The Class">
                    </div>
                    <h2 class="tile__ctrl"><%= currentWorkshop.title %></h2>
                    <div class="user-details__image" >
                        <img src="<%= currentWorkshop.image %>" alt="image" height="200px">
                    </div>
                    <div class="tile__name">
                        <p><%= currentWorkshop.desc %></p>
                        <p><%= currentWorkshop.date.toDateString() %> at 19.00 </p>
                        <p><%= currentWorkshop.cost %> rub </p>
                        <p><%= currentWorkshop.available %>  </p>
                        <p><%= currentWorkshop._booked.length %>  </p>
                    </div>
                    <div class="tile__desc">

                    </div>
                </div>
            <!--</section>-->
        </div>
    </main>
</body>
</html>